/day-17-start
/day-18-start
/day-19-start
/GUI
/Hirst Painting
/Mail+Merge+Project+Start
/Mail+Merge+Project+Start.zip
/MISC
/missed_states.csv
/NATO-alphabet-start
/NATO-alphabet-start.zip
/OOP
/pandas
/pong
/Snake+Project+Code+from+Day+21
/Snake+Project+Code+from+Day+21.zip
/turtle-capstone
/us-states-game-start
/__pycache__